<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Forecast</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Market Forecast</h1>
    <form id="forecastForm">
        
        <label for="industry">Select Industry:</label>
        <select id="industry" name="industry">
            <!-- <option value="All industry total">All Industry Total</option> -->
            <option value="Private industries">Private Industries</option>
            <option value="Agriculture, forestry, fishing and hunting">Agriculture, Forestry, Fishing and Hunting</option>
            <option value="Mining, quarrying, and oil and gas extraction">Mining, Quarrying, and Oil and Gas Extraction</option>
            <option value="Utilities">Utilities</option>
            <option value="Construction">Construction</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Durable goods manufacturing">Durable Goods Manufacturing</option>
            <option value="Nondurable goods manufacturing">Nondurable Goods Manufacturing</option>
            <option value="Wholesale trade">Wholesale Trade</option>
            <option value="Retail trade">Retail Trade</option>
            <option value="Transportation and warehousing">Transportation and Warehousing</option>
            <option value="Information">Information</option>
            <option value="Finance and insurance">Finance and Insurance</option>
            <option value="Real estate and rental and leasing">Real Estate and Rental and Leasing</option>
            <option value="Professional, scientific, and technical services">Professional, Scientific, and Technical Services</option>
            <option value="Management of companies and enterprises">Management of Companies and Enterprises</option>
            <option value="Administrative and support and waste management and remediation services">Administrative and Support and Waste Management and Remediation Services</option>
            <option value="Educational services">Educational Services</option>
            <option value="Health care and social assistance">Health Care and Social Assistance</option>
            <option value="Arts, entertainment, and recreation">Arts, Entertainment, and Recreation</option>
            <option value="Accommodation and food services">Accommodation and Food Services</option>
            <option value="Other services (except government and government enterprises)">Other Services (Except Government and Government Enterprises)</option>
            <option value="Government and government enterprises">Government and Government Enterprises</option>
            <option value="Federal civilian">Federal Civilian</option>
            <option value="Military">Military</option>
            <option value="State and local">State and Local</option>
        </select>

        <button type="submit">Get Forecast</button> <br><br>
        <div class="gdp">
            <label>Forecasted GDP:</label>
            <div id="result" class="inline-box"></div>
        </div><br><br>
        <div id="insight" class="box"></div>
        
    <!-- <div id="insight" class = "box"></div> -->
</form>

<script>
    document.getElementById('forecastForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const industryName = document.getElementById('industry').value;
       
        try {
            const response = await fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    industry_name: industryName
                    
                }),
            });

            const data = await response.json();

            if (response.ok) {
            document.getElementById('result').innerText = 
                ` ${data.forecasted_gdp.toFixed(3)}`;

            document.getElementById('insight').innerText = data.forecast_insight;
        } else {
            document.getElementById('result').innerText = `Error: ${data.error}`;
            document.getElementById('insight').innerText = '';
        }

        } catch (error) {
            console.error('Error:', error);
            document.getElementById('result').innerText = ' error fetching the forecast.';
        }
    });
</script>

</body>
</html>